<form action="/dashboard/addplacemark" method="POST">
  <div class="columns">
    <div class="column">
      <label class="label">Name</label> <input class="input" type="text" placeholder="Enter placemark name" name="name">
    </div>
    <div class="column">
      <label class="label">Category</label>
          <div class="select">
            <select name="category" id="category" >
              {{#each categories}}
                <option value={{category}} >{{category}}</option>
              {{/each}}
            </select>
          </div>

    </div>
    <div class="column">
      <label class="label">Description</label> <input class="input" type="text" placeholder="Enter placemark description" name="description">
    </div>
    <div class="column">
      <label class="label">Latitude</label> <input class="input" type="number" step="0.001" placeholder="Enter latitude" name="latitude">
    </div>
    <div class="column">
      <label class="label">Longitude</label> <input class="input" type="number" step="0.001" placeholder="Enter longitude" name="longitude">
    </div>
    <div class="column">
      <label class="label">---</label> <button class="button is-link">Add Placemark</button>
    </div>
  </div>
</form>